/build
/config/*

!/config/schema.sql
!/config/GreaterWesternSmallBlackAndWhite.jpg
!/config/error_icon_sml.png


/venv

/versions/

db_backup.sql

config/members_list.xlsx
.\\config\\members_list.xlsx

monster_truck2.spec



.idea/

/__pycache__/